.App {
    text-align: left;
    margin: 5rem 20rem 5rem 10rem;
}

.App-logo {
    height: 15vmin;
    pointer-events: none;
}

.logo-title {
    display: flex;
}

.read-more-link {
    color: #0000FF;
}

.App-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.App-link {
    color: #61dafb;
}

.title {
    margin-top: 3rem;
}

.wrapper {
    margin: 0;
    padding: 0;
}

.heading-more-info {
    text-align: center;
    color: #282c34;
}
.more-info {
    border-bottom: .3rem solid gray;
}
form {
    padding: 2rem 10rem;
}
button {
    background-color: cadetblue;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}
