.main {
    text-align: left;
    margin: 5rem 20rem 5rem 10rem;
}

.App-logo {
    height: 15vmin;
    pointer-events: none;
}

.logo-title {
    display: flex;
}

.read-more-link {
    color: #0000FF;
}

.App-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.App-link {
    color: #61dafb;
}

.title {
    margin-top: 2rem;
}

.wrapper {
    margin: 0;
    padding: 0;
}

.heading-more-info {
    text-align: center;
    color: #282c34;
}
.more-info {
    border-bottom: .3rem solid gray;
}

button {
    background-color: cadetblue;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
    .main {
        margin: 1rem;
        max-width: 300px;
    }
    .App-logo {
        height: 20vmin;
    }
    .App-header {
        font-size: 0.9rem;
    }
    .title {
        margin-top: 0;
        font-size: 1rem;
    }
    form {
        padding: 0;
    }
}